.flashes {
    background-color:#f3f5fa;
}

.hero-img img {
    width:100%;
    height:100%;
    position:fixed;
    z-index: -10;
    object-fit: cover;
}

#search {
    overflow: visible !important;
}

#search, #register, #login, #profile, #change-password, .social-links, .credits {
    text-align:center;
}

p {
    font-size: 18px;
}

#search p, #search .dropdown {
    margin-bottom: 25px;
}

#search button, #register button, #login button, #change-password button, #profile a {
    padding: 10px 25px;
    border-radius: 50px;
    color: #37517e;
    border: 2px solid #47b2e4;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: transparent;
    margin-bottom:25px;
}

#search button:hover, #register button:hover, #login button:hover, #change-password button:hover, #profile a:hover {
    background-color: #47b2e4;
    color:#fff;
    transition: 0.3s;
}

.social-links a {
    text-decoration: none;
    color:white;
    font-size: 18px;
}

.facebook {
    margin-right: 30px;
}

.instagram {
    margin-left: 30px;
}

.facebook:hover {
    color:#3333ff;
}

.twitter:hover {
    color:#3399ff;
}

.instagram:hover {
    color:#ff66ff;
}

.register-title, .login-title {
    margin-top:4%;
}

.change-password-title {
    margin-top:7%;
}

.register-header, .login-header, .change-password-header {
    background-color: #37517e;;
}

.register-input, .login-input {
    padding: 10px 25px;
    color: #37517e;
    border: 2px solid #37517e;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color:transparent;
    margin-bottom:25px;
    border-radius: 25px;
}

#register-login-link {
    margin-bottom: 20%;
}

#login-register-link {
    margin-bottom: 30%;
}

#profile h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    position: relative;
    color: #37517e;
}

#profile h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
  
#profile h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.profile-info {
    margin-bottom: 25px;
}

.change-password {
    margin-top: 80px;
    margin-bottom:3%;
}

.profile-hero {
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(../img/veggie-pizza.jpg) no-repeat center center !important;
}

#profile-picture {
    border-radius: 30px;
    height:200px;
    width:175px;
}

.profile-picture-row {
    width: 100%;
    text-align: center;
    margin-right:170px;
    margin-top: 120px;
}

#profile .content {
    text-align: left;
}