{% extends "base.html" %}
{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="#hero">Connect Recipes</a>
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#search">Search</a></li>
        <li>
          <a class="nav-link" href="{{ url_for('new_recipe') }}">Add A Recipe</a>
        </li>
        <li><a class="nav-link" href="{{ url_for('profile') }}">My Profile</a></li>
        <li><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a class="getstarted" href="{{ url_for('register') }}">Register</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<div class="d-flex align-items-center order-1 order-lg-2 hero-img img-fluid" data-aos="zoom-in" data-aos-delay="200"
  id="hero">
  <img src="{{ url_for('static', filename='assets/img/hero-img.jpg') }}" class="img-fluid"
    alt="Chef preparing a dish" />
</div>

<!-- End Hero -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>What is Connect Recipes About?</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            We are passionate about connecting through food, and we know that food is an important way memories are
            created. Food bridges cultural gaps and differences to bring us together, and not divide. It's for this
            reason we found it important to give people a dedicated medium to share and explore new
            culinary ideas together.
          </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            It doesn't matter where you come from or what your status is, you don't even have to pay to use us. Simply
            register, and get searching and sharing your favorite dishes! We will be thankful you did.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="search" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <h2>Find a Recipe</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <p>
            Find the recipe you're looking for through our clever use of tags! <i class="fas fa-tags"></i>
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="ui fluid multiple search selection dropdown">
            <input type="hidden" name="tags">
            <i class="dropdown icon"></i>
            <div class="default text">Select Tags</div>
            <div class="menu">
              {% for tag in tags %}
              <div class="item" data-value="{{ tag.name }}">{{ tag.name }}</div>
              {% endfor %}
            </div>
          </div>
          <button type="submit getstarted">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</main>
<!-- End #main -->

{% endblock %}