{% extends "base.html" %} 
{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top new-recipe-header">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="{{ url_for('index') }}">Connect Recipes</a>
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="{{ url_for('index') }}"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}#about">About</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}#search">Search</a>
        </li>
        {% if session.user %}
        <li>
          <a class="nav-link" href="#header">Add A Recipe</a>
        </li>
        <li><a class="nav-link" href="{{ url_for('profile') }}">My Profile</a></li>
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a class="getstarted" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<section class="flashes">
  <!-- flash messages -->
  {% with messages = get_flashed_messages() %} {% if messages %} {% for
  message in messages %} {% if "already" in message %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5 class="flash-heading">{{ message }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h5 class="flash-heading">{{ message }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
</section>

<!-- Modal -->

<div class="modal" id="create-tag-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Create a Tag</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <input
            id="new-tag"
            name="new-tag"
            type="text"
            minlength="5"
            maxlength="20"
            pattern="^[a-zA-Z ]{5,20}$"
            placeholder="New Tag"
            class="create-a-tag-input"
            required
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="create-tag" class="getstarted">
          <i class="fas fa-plus"></i> Create Tag
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Modal -->

<!-- ======= New Recipe ======= -->

<section id="new-recipe" class="section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="section-title new-recipe-title">
      <h2>Add a Recipe</h2>
    </div>
    <div>
      <p>Pictures are automatically uploaded to ImgBB if they have a valid .jpg or .png file format.</p>
    </div>
    <form method="post" action="{{ url_for('new_recipe') }}">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="url"><i class="fas fa-code"></i></label>
          <input id="url" name="url" type="url" minlength="10" maxlength="1000" pattern="https://.+[jpg]{3}|https://.+[png]{3}"
            placeholder="Image URL" class="recipe-input" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="recipe-name"><i class="fas fa-user"></i></label>
          <input id="recipe-name" name="recipe-name" type="text" minlength="4" maxlength="120" pattern="[0-9A-Za-z ]{4,120}"
            placeholder="Recipe Name" class="recipe-input" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="recipe-ingredients"><i class="fas fa-egg"></i></label>
          <textarea id="recipe-ingredients" name="recipe-ingredients" minlength="10" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Ingredients" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="prep-work"><i class="fas fa-mortar-pestle"></i></label>
          <textarea id="prep-work" name="prep-work" minlength="10" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Prep Work" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="cooking-instructions"><i class="fas fa-list"></i></label>
          <textarea id="cooking-instructions" name="cooking-instructions" minlength="10" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Cooking Instructions" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="serving-instructions"><i class="fas fa-utensils"></i></label>
          <textarea id="serving-instructions" name="serving-instructions" minlength="3" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Serving Instructions" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4" id="add-recipe-tags"> 
          <div class="ui fluid multiple search selection dropdown">
            <input type="hidden" name="tags">
            <i class="dropdown icon"></i>
            <div class="default text">Add Tags</div>
            <div class="menu">
              {% for tag in tags %}
              <div class="item" data-value="{{ tag.name }}">{{ tag.name }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <p id="create-a-tag" class="pointer">Create a Tag <i class="fas fa-tags"></i></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <button type="submit" id="add-recipe" class="getstarted">
            <i class="fas fa-plus"></i> Add Recipe
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- End New Recipe -->

{% endblock %}
