{% extends "base.html" %} 
{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top new-recipe-header">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="{{ url_for('index') }}">Connect Recipes</a>
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="{{ url_for('index') }}"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}">About</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}">Search</a>
        </li>
        {% if session.user %}
        <li>
          <a class="nav-link" href="#header">Add A Recipe</a>
        </li>
        <li><a class="nav-link" href="{{ url_for('profile') }}">My Profile</a></li>
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a class="getstarted" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= New Recipe ======= -->

<section id="new-recipe" class="section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="section-title new-recipe-title">
      <h2>Add a Recipe</h2>
    </div>
    <form method="post" action="{{ url_for('new_recipe') }}">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="url"><i class="fas fa-code"></i></label>
          <input id="url" name="url" type="url" minlength="20" maxlength="50" pattern="https://i.ibb.co/[0-9A-Za-z]{5,10}/[0-9A-Za-z-_+]{4,50}.[jpg]{3}"
            placeholder="Image URL" class="recipe-input" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="recipe-name"><i class="fas fa-user"></i></label>
          <input id="recipe-name" name="recipe-name" type="text" minlength="4" maxlength="40" pattern="[0-9A-Za-z ]{4,40}"
            placeholder="Recipe Name" class="recipe-input" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="recipe-ingredients"><i class="fas fa-egg"></i></label>
          <textarea id="recipe-ingredients" name="recipe-ingredients" minlength="10" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Ingredients" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="prep-work"><i class="fas fa-mortar-pestle"></i></label>
          <textarea id="prep-work" name="prep-work" minlength="10" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Prep Work" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="cooking-instructions"><i class="fas fa-list"></i></label>
          <textarea id="cooking-instructions" name="cooking-instructions" minlength="10" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Cooking Instructions" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <label for="serving-instructions"><i class="fas fa-utensils"></i></label>
          <textarea id="serving-instructions" name="serving-instructions" minlength="10" maxlength="1000" pattern="[0-9A-Za-z./ ]{10,1000}"
            placeholder="Serving Instructions" class="recipe-input" rows="5" required></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <button type="submit" class="getstarted">
            <i class="fas fa-plus"></i> Add Recipe
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- End New Recipe -->

{% endblock %}
