{% extends "base.html" %} {% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top profile-header">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="{{ url_for('index') }}">Connect Recipes</a>
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="{{ url_for('index') }}"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}">About</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}">Search</a>
        </li>
        {% if session.user %}
        <li>
          <a class="nav-link" href="{{ url_for('new_recipe') }}"
            >Add A Recipe</a
          >
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
        </li>
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a class="getstarted" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<div
  class="
    d-flex
    align-items-center
    order-1 order-lg-2
    hero-img
    img-fluid
    profile-hero
  "
  data-aos="zoom-in"
  data-aos-delay="200"
  id="hero"
>
  <div class="row profile-picture-row">
    <div class="col">
      {%if profile_picture%}
      <img
        src="{{ profile_picture }}"
        id="profile-picture"
        alt="Profile Picture"
      />
      {%else%}
      <img
        src="{{ url_for('static', filename='assets/img/blank-profile-picture.png') }}"
        id="profile-picture"
        alt="Profile Picture"
      />
      {%endif%}
      <button id="profile-picture-edit" type="button" class="btn btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-plus"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- End Hero -->

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div
  class="alert alert-success alert-dismissible fade show flashes"
  role="alert"
>
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}

<!-- Modals -->

<div class="modal" id="name-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Name</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          id="name"
          name="name"
          type="text"
          minlength="5"
          maxlength="60"
          placeholder="Name"
          class="profile-input"
          required
        />
      </div>
      <div class="modal-footer">
        <button type="submit" id="name-save-changes" class="getstarted">
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="email-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Email</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <input
            id="email"
            name="email"
            type="email"
            minlength="5"
            maxlength="50"
            placeholder="Email"
            class="profile-input"
            required
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="email-save-changes" class="getstarted">
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="username-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Username</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <input
            id="username"
            name="username"
            type="text"
            minlength="5"
            maxlength="20"
            pattern="^[a-zA-Z0-9]{5,20}$"
            placeholder="Username"
            class="profile-input"
            required
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="username-save-changes" class="getstarted">
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="profile-picture-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Insert Profile Picture URL</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <input
            id="profile-picture-input"
            name="profile-picture-input"
            type="url"
            minlength="5"
            maxlength="200"
            placeholder="Image URL"
            class="profile-input"
            required
          />
        </form>
      </div>
      <div class="modal-footer">
        <a id="imgbb" class="getstarted" href="https://imgbb.com/" target="_blank"
          ><i class="fas fa-plus"></i> Upload to ImgBB</a
        >
        <button
          type="button"
          id="profile-picture-save-changes"
          class="getstarted"
        >
          <i class="far fa-save"></i> Save Changes
        </button>
        <button
          type="button"
          id="profile-picture-delete"
          class="getstarted"
        >
        <i class="fas fa-trash"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End Modals -->

<!-- ======= Profile ======= -->

<section id="profile" class="section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center profile-info">
      <div class="col-lg-4 profile-column">
        <h3>Personal Information</h3>
        <div class="content-display">
          <p class="profile-info content">
            <strong>Name:</strong> <span id="name-field">{{ name }}</span>
            <i class="fas fa-pencil-alt pointer" id="name-pencil"></i>
          </p>
          <p class="profile-info content">
            <strong>Email:</strong> <span id="email-field">{{ email }}</span>
            <i class="fas fa-pencil-alt pointer" id="email-pencil"></i>
          </p>
          <p class="profile-info content">
            <strong>Date Registered:</strong> {{ date_registered }}
          </p>
        </div>
        <h3 class="profile-info" id="second-profile-header">
          Account Information
        </h3>
        <div class="content-display">
          <p class="profile-info content">
            <strong>Username:</strong>
            <span id="username-field">{{ username }}</span>
            <i class="fas fa-pencil-alt pointer" id="username-pencil"></i>
          </p>
        </div>
        <div class="change-password">
          <a
            id="change-password-button"
            class="getstarted"
            href="{{ url_for('change_password') }}"
            ><i class="fas fa-lock"></i> Change my Password</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
