{% extends "base.html" %} {% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top profile-header">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="{{ url_for('index') }}">Connect Recipes</a>
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="{{ url_for('index') }}"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}">About</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}">Search</a>
        </li>
        {% if session.user %}
        <li>
          <a class="nav-link" href="{{ url_for('new_recipe') }}"
            >Add A Recipe</a
          >
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
        </li>
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a class="getstarted" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<div
  class="
    d-flex
    align-items-center
    order-1 order-lg-2
    hero-img
    img-fluid
    profile-hero
  "
  data-aos="zoom-in"
  data-aos-delay="200"
  id="hero"
>
  <div class="row profile-picture-row">
    <div class="col">
      <img
        src="{{ url_for('static', filename='assets/img/blank-profile-picture.png') }}"
        id="profile-picture"
        alt="Profile Picture"
      />
    </div>
  </div>
</div>

<!-- End Hero -->

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="alert alert-success alert-dismissible fade show flashes" role="alert">
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}

<!-- ======= Profile ======= -->

<section id="profile" class="section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center profile-info">
      <div class="col-lg-4 profile-column">
        <h3>Personal Information</h3>
        <div class="content-display">
          <p class="profile-info content"><strong>Name:</strong> {{ name }}</p>
          <p class="profile-info content">
            <strong>Email:</strong> {{ email }}
          </p>
          <p class="profile-info content">
            <strong>Date Registered:</strong> {{ date_registered }}
          </p>
        </div>
        <h3 class="profile-info" id="second-profile-header">
          Account Information
        </h3>
        <div class="content-display">
          <p class="profile-info content">
            <strong>Username:</strong> {{ username }}
          </p>
        </div>
        <div class="change-password">
          <a
            id="change-password-button"
            class="getstarted"
            href="{{ url_for('change_password') }}"
            ><i class="fas fa-lock"></i> Change my Password</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
