{% extends "base.html" %} {% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top recipe-header">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="{{ url_for('index') }}">Connect Recipes</a>
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="{{ url_for('index') }}"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}#about"
            >About</a
          >
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}#search"
            >Search</a
          >
        </li>
        {% if session.user %}
        <li>
          <a class="nav-link" href="{{ url_for('new_recipe') }}"
            >Add A Recipe</a
          >
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
        </li>
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a class="getstarted" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- Modal -->

<div class="modal" id="ingredients-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Ingredients</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          id="recipe-ingredients"
          name="recipe-ingredients"
          minlength="10"
          maxlength="1000"
          placeholder="Ingredients"
          class="recipe-input"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="modal-footer">
        <button type="submit" id="ingredients-save-changes" class="getstarted">
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="prep-work-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Prep Work</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          id="recipe-prep-work"
          name="recipe-prep-work"
          minlength="10"
          maxlength="1000"
          placeholder="Prep Work"
          class="recipe-input"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="modal-footer">
        <button type="submit" id="prep-work-save-changes" class="getstarted">
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="cooking-instructions-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Cooking Instructions</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          id="recipe-cooking-instructions"
          name="recipe-cooking-instructions"
          minlength="10"
          maxlength="1000"
          placeholder="Cooking Instructions"
          class="recipe-input"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          id="cooking-instructions-save-changes"
          class="getstarted"
        >
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="serving-instructions-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Serving Instructions</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          id="recipe-serving-instructions"
          name="recipe-serving-instructions"
          minlength="3"
          maxlength="1000"
          placeholder="Serving Instructions"
          class="recipe-input"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          id="serving-instructions-save-changes"
          class="getstarted"
        >
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="tags-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Tags</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="ui fluid multiple search selection dropdown">
          <input type="hidden" name="tags" id="tags-value" />
          <i class="dropdown icon"></i>
          <div class="default text">Add Tags</div>
          <div class="menu">
            {% for tag in tags %}
            <div class="item" data-value="{{ tag.name }}">{{ tag.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" id="tags-save-changes" class="getstarted">
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="recipe-name-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Recipe Name</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          id="recipe-name-input"
          name="recipe-name-input"
          type="text"
          minlength="4"
          maxlength="120"
          placeholder="Recipe Name"
          class="recipe-input"
          required
        />
      </div>
      <div class="modal-footer">
        <button type="submit" id="recipe-name-save-changes" class="getstarted">
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="recipe-picture-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Insert Recipe Picture URL</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <input
            id="recipe-picture-input"
            name="recipe-picture-input"
            type="url"
            minlength="5"
            maxlength="200"
            placeholder="Image URL"
            class="recipe-input"
            required
          />
        </form>
      </div>
      <div class="modal-footer">
        <a id="imgbb" class="getstarted" href="https://imgbb.com/" target="_blank"
          ><i class="fas fa-plus"></i> Upload to ImgBB</a
        >
        <button
          type="button"
          id="recipe-picture-save-changes"
          class="getstarted"
        >
          <i class="far fa-save"></i> Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-recipe-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Warning!</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Proceeding will delete this recipe forever!</p>
      </div>
      <div class="modal-footer">
        <form
          action="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
          method="post"
        >
          <button
            id="second-delete-recipe-button"
            class="getstarted"
            type="submit"
          >
            <i class="fas fa-trash"></i> Continue Deleting
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End Modal -->

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div
  id="save-recipe-flash"
  class="alert alert-success alert-dismissible fade show flashes"
  role="alert"
>
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}

<!-- Recipe -->

<section id="recipe" class="section-bg cards">
  <div class="container-fluid" data-aos="fade-up">
    {% if recipe %}
    <div class="recipe-row row justify-content-center">
      <div class="col-lg-6 paper">
        <div class="lines"></div>
        <ul class="nolist list">
          <img
            src="{{ recipe.recipe_picture_url }}"
            alt="{{ recipe.name }}"
            class="img-fluid cards-image recipe-image"
            id="recipe-image"
          />
          <li id="recipe-name">
            {% if recipe.owner == session.user%}
            <i id="recipe-name-edit" class="fas fa-pencil-alt pointer"></i>
            {% endif %}
            <strong id="recipe-name-strong">{{ recipe.name }}</strong>
          </li>
          <li id="ingredients-header">
            {% if recipe.owner == session.user%}
            <i id="ingredients-edit" class="fas fa-pencil-alt pointer"></i>
            {% endif %}
            <strong>Ingredients:</strong>
          </li>
          {% set ingredients = recipe.ingredients.split('\r\n') %} {% for
          ingredient in ingredients%}
          <li class="ingredient">{{ ingredient }}</li>
          {% endfor %}
          <li id="prep-work-header">
            {% if recipe.owner == session.user%}
            <i id="prep-work-edit" class="fas fa-pencil-alt pointer"></i>
            {% endif %}
            <strong>Prep Work:</strong>
          </li>
          {% set prep_work = recipe.prep_work.split('\r\n') %} {% for prep in
          prep_work%}
          <li class="prep">{{ prep }}</li>
          {% endfor %}
          <li id="cooking-instructions-header">
            {% if recipe.owner == session.user%}
            <i
              id="cooking-instructions-edit"
              class="fas fa-pencil-alt pointer"
            ></i>
            {% endif %}
            <strong>Cooking Instructions:</strong>
          </li>
          {% set cooking_instructions =
          recipe.cooking_instructions.split('\r\n') %} {% for
          cooking_instruction in cooking_instructions%}
          <li class="cooking">{{ cooking_instruction }}</li>
          {% endfor %}
          <li id="serving-instructions-header">
            {% if recipe.owner == session.user%}
            <i
              id="serving-instructions-edit"
              class="fas fa-pencil-alt pointer"
            ></i>
            {% endif %}
            <strong>Serving Instructions:</strong>
          </li>
          {% set serving_instructions =
          recipe.serving_instructions.split('\r\n') %} {% for
          serving_instruction in serving_instructions%}
          <li class="serving">{{ serving_instruction }}</li>
          {% endfor %}
          <li><strong>Recipe Owner:</strong></li>
          <li>{{ recipe.owner }}</li>
          <li id="tags-header">
            {% if recipe.owner == session.user%}
            <i id="tags-edit" class="fas fa-pencil-alt pointer"></i>
            {% endif %}
            <strong>Tags:</strong>
          </li>
          <li class="tags">
            {% for tag in recipe.tags %} {{ tag }} {% if loop.index !=
            loop.length %} , {% endif %} {% endfor %}
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="save-recipe">
          {% if recipe.owner == session.user%}
          <button
            id="recipe-picture-edit"
            type="button"
            class="getstarted"
          ><i class="fas fa-pencil-alt"></i> Edit Recipe Picture
          </button>
          <button id="delete-recipe-button" class="getstarted" type="button">
            <i class="fas fa-trash"></i> Delete
          </button>
          {% elif saved == 1%}
          <form
            action="{{ url_for('recipes', recipe_id=recipe._id) }}"
            method="post"
          >
            <button
              id="save-recipe-button"
              class="getstarted saved"
              type="submit"
            >
              <i class="far fa-save"></i> Unsave Recipe
            </button>
          </form>
          {% elif saved == 0 %}
          <form
            action="{{ url_for('recipes', recipe_id=recipe._id) }}"
            method="post"
          >
            <button id="save-recipe-button" class="getstarted" type="submit">
              <i class="far fa-save"></i> Save Recipe
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

    {% else %}

    <div class="row justify-content-center">
      <div class="col-lg-4 no-content">
        <i class="far fa-meh"></i>
        <p>Oops! Looks like there's no recipe with this ID...</p>
        <p>
          Try adding a recipe <a href="{{ url_for('new_recipe') }}">here!</a>
        </p>
      </div>
    </div>

    {% endif %}
  </div>
</section>

<!-- End Recipe -->

{% endblock %}
