{% extends "base.html" %}
{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top search-header">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="{{ url_for('index') }}">Connect Recipes</a>
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}#about">About</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{{ url_for('index') }}#search">Search</a>
        </li>
        {% if session.user %}
        <li>
          <a class="nav-link" href="{{ url_for('new_recipe') }}">Add A Recipe</a>
        </li>
        <li><a class="nav-link" href="{{ url_for('profile') }}">My Profile</a></li>
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a class="getstarted" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Search ======= -->

<section id="search-recipes" class="section-bg cards">
  <div class="container-fluid" data-aos="fade-up">
    <div class="section-title search-recipes-title">
      <h2>Search Results</h2>
    </div>

    {% for recipe in recipes %}

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 cards-single">
        <div class="card-center">
          <img
            src="{{ recipe.recipe_picture_url }}"
            alt="{{ recipe.name }}"
            class="img-fluid cards-image"
          />
          <h2>
            <a href="/my-recipes/{{ recipe._id }}">{{ recipe.name }}</a>
          </h2>
          <h3>Ingredients:</h3>
          <ul class="nolist">
            {% set ingredients = recipe.ingredients.split('\r\n') %} {% for
            ingredient in ingredients%}
            <li><span>{{ ingredient }}</span></li>
            {% endfor %}
          </ul>
          <h3>Tags:</h3>
          <p>
            {% for tag in recipe.tags %} {{ tag }} {% if loop.index !=
            loop.length %} , {% endif %} {% endfor %}
          </p>
        </div>
      </div>
    </div>

    {% if loop.index != loop.length %}

    <hr />

    {% endif %} {% endfor %}
  </div>
</section>

<!-- End Search -->

{% endblock %}